$pry-color1: hsl(215, 51%, 70%);
$pry-color2: hsl(178, 100%, 50%);
$nuetral-color1: hsl(217, 54%, 11%);
$nuetral-color2: hsl(216, 50%, 16%);
$nuetral-color3: hsl(215, 32%, 27%);
$nuetral-color4: hsl(0, 0%, 100%);
